# Base de Datos PostgreSQL
DATABASE_URL="postgresql://cryzan:cryzan123@db:5432/cryzan_sport_db?schema=public"

# NextAuth Configuración
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change_this_to_a_secure_secret"

# Redis Configuración
REDIS_URL="redis://redis:6379"

# Pasarela de Pagos (Sandbox Culqi / MercadoPago)
NEXT_PUBLIC_PAYMENT_PUBLIC_KEY="pk_test_sample"
PAYMENT_SECRET_KEY="sk_test_sample"

# Entorno
NODE_ENV="development"
